apify_client==1.10.0
contractions==0.1.73
deep_translator==1.11.4
emoji==2.14.1
gensim==4.3.3
matplotlib==3.9.4
newspaper3k==0.2.8
nltk==3.9.1
numpy==1.26.4
pandas==2.2.3
scipy==1.13.1
seaborn==0.13.2
sentence-transformers==3.3.1
stanza==1.10.1
torch==2.2.2
tqdm==4.67.1
vaderSentiment==3.3.2



